/* @charset "utf-8" */

// FONT SETTING
$base_font_size: 10px;
$base_line_height: 1;
$base_letter_spacing: 1px;
$font-family: 'Montserrat', sans-serif;

// MAIN COLOR
$brown_light: #f0e6dc;
$brown_dark1: #e6cdb9;
$white: #ffffff;
$yellow_light: #fef5e8;
$purple_light: #f1e8e3;
$orange_dark: #e6cdb9;
$brown_dark2: #b4a091;
$gray: #606060;

// BASE SIZE
$base_line_width: 2px;

// mixin 使用時機：整包樣式都要一樣的時候，減少重複的行為
@mixin size($width,$height){
    width: $width;
    height: $height;
}

// BREAK WIDTH （未來 RWD 使用）
$break_large: 1024px;
$break_medium: 768px;
$break_small: 400px;


// all page css
*{
    font-family: $font-family
}
html,body{
    padding: 0px;
    margin: 0px;
    position: relative;
    font-size: 100%;
    font-weight: 200;
    line-height: $base_line_height*1.7;
    color: $gray;
}
a{
    text-decoration: none;
    color: $gray;
    // ":hover" 滑鼠指向超連結會變色
    &:hover{
        color:$white;
    }
}
img{
    max-width: 100%;
}

li{
    text-decoration: none;
    color: $gray;
    // ":hover" 滑鼠指向超連結會變色
    &:hover{
        color:$white;
    }
}

.diy-ins{
    border-bottom: solid $gray 0.8px;
    display: inline-block;
    margin-top: 1rem;
}

.diy-2ins{
    border-bottom: solid $brown_dark2 1px;
    border-top: solid $brown_dark2 1px;
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.title-box-color{
    background-color: $white;
    padding: 3% 3% 0 3%;
}

.title-box{
    // background-color: $white;
    padding: 3% 3% 0 3%;
}

.test-border{
    border: solid;
}

.cr-margin-padding{
    margin: 0 !important;
    padding: 0 !important;
}

// .a-ins{
//     color: $gray;
//     // ":hover" 滑鼠指向超連結會變色
//     &:hover{
//         color:$brown_dark2;
//     }
// }

.p-title{
    font-size: $base_font_size*1.8;
}

.p-discribe{
    margin: 1rem 0 1rem 0;
}

.p-date{
    font-size: $base_font_size;
    color: $brown_dark2;
    margin-top: -1rem;
}

.bg-white{
    background-color: $white;
}

// index

// navbar

.logo{
    width: 18%;
    height: auto;
}

.about-logo{
    width: 50%;
    height: auto;
}

.navbar{
    font-size: $base_font_size*2;
    padding: 2%;
    padding-bottom: 0;
}

.bg-light-opacity {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

// index image
.img-fluid-index-bg {
    display: flex;
    position: fixed;
    top: 0%;
    // z-index 是用來排 div 順序的，最底層-999，其他依序排列，類似 float，一定要搭配 position
    z-index: -1;
}

.index-bg{
    background-image:url(../images/index-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

// index blog link
.index-1{
    padding: 5%;
    background-color: $brown_light;
}

.text-index-1{
    margin-bottom: 5%;
}

$card-height: 100%;

.card{
    border-radius: 99em 99em 0 0 ;
    border: none;
    background-color: $brown_dark1;
}

.card-img-top{
    border-radius: 99em 99em 0 0 ;
}

.card-img-top:hover {
    display: flex;
    // display 只是為了 css 不要空著而放的，要記得刪掉
    // 缺 zoom in 效果
    // https://mdbootstrap.com/docs/standard/content-styles/hover-effects/
}

.card-text-center{
    text-align: center;
}

// index-2 reader's feedback

.diy-index-2{
    position: relative;
}

.diy-fixed-top {
    position: absolute;
    top: 0;
    right: 0;
}
.diy-index-img{
    max-width: 20%;
    height: auto;
    overflow: hidden;
    border-radius: 0 0 99em 99em;
    margin-right: 5%;
}

.diy-feedback-position{
    position: absolute;
}

.diy-container-fluid{
    padding: 0%;
}

.diy-imdex-text {
    padding: 5%;
    margin: 0;
}

.diy-blockquote{
    margin: 0;
}
.diy-box {
    height: 100px;
    background-color:$brown_dark1;
}

// index-3 gallery

.index-3{
    background-color: $brown_dark1;
    padding: 5%;
    // padding-top: 0;
    display: flex;
}

.index-3-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-3-gallery{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.index-gallery{
    padding: 0 5% 0 5%;
}

// footer

.bg-footer{
    background-color: $brown_light;
}

.text-footer{
    color: $brown_dark2;
}

.diy-btn{
    background-color: $brown_dark2;
    color: $white;
    &:hover{
        color:$brown_dark2;
        background-color: $white;
        border: solid $brown_dark2 1px;
    }
}

.diy-btn-blog{
    background-color: $brown_light;
    color: $gray;
    &:hover{
        color:$brown_dark2;
        background-color: $white;
        border: solid $brown_light 1px;
    }
}

.a-tag{
    padding: 0.5rem;
    margin: 1rem 4rem 1rem 4rem;
    font-size: $base_font_size*1.4;
    border-radius: 0.3rem;
}

.btn-outline-dark {
    border: solid $brown_dark2 1px;
    --bs-btn-color: $brown_dark2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: $brown_dark2;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: $brown_dark2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: $brown_dark2;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: $brown_dark2;
    --bs-gradient: none;
    &:hover{
        color:$brown_dark2;
        background-color: $white;
        border: solid $brown_dark2 1px;
    }
}

// about

.about-bg{
    background-image:url(../images/about-bg-v5.png);
    background-position: center;
    background-size: cover;
    height: 2000px;
}

.about-bg2{
    background-image:url(../images/about-bg-v3.png);
    background-position: center;
    background-size: cover;
    height: 900px;
}

.about-p{
    line-height: $base_line_height*0.6;
    font-size: $base_font_size*1.8;

}

.about-title{
    font-size: $base_font_size*2.8;
    // font-weight: bold;
}

.about-hr{
    border-bottom: solid $gray 0.8px ;
    width: 80%;
    margin: 2rem 0 2rem 0;
}

.about-hr-2{
    border-bottom: solid $gray 0.8px ;
    width: 80%;
    margin: 1rem 0 1rem 0;
}

.about-1{
    border: solid $gray 0.8px;
    padding: 5%;
    margin: 5%;
    margin-left: 20%;
    border-radius: 1rem;
    width: 60%;
    background-color:$yellow_light;
}

.about-box{
    // margin-top: 0;
    position: relative;
}

.diy-about-img{
    max-width: 20%;
    height: auto;
    overflow: hidden;
    position: absolute;
    left: 70%;
    // margin-top: 0;
}

// about-2

.diy-about-2{
    // background-color: $white;
    padding: 3% 0 10% 0;
    margin: 0;
    width: 100%;
}

.diy-about-2-img{
    padding: 5%;
    width: 80%;
}

.about-box-1{
    margin-top: 10%;
}

.about-rihgt{
    position: relative;
}

.about-box-2{
    // position: absolute;
    right: 40%;
    bottom: 40%;
}

.about-box-3{
    // margin-top: 50%;
    padding-top: 5%;
}

.diy-ab{
    position: relative;
}

.diy-about-3-img{
    width: 70%;
    position:relative;
    right: 20%;
}

// about-3

.about-3-box1{
    background-color: $white;
    padding: 3%;
}

.about-3-box2{
    background-color: $yellow_light;
    padding: 3%;
}

.about-3-position{
    padding: 3%;
}

.about-tm-title{
    font-size: $base_font_size*2.4;
    margin: 0;
}

.about-tm-img{
    max-width: 80%;
    height: auto;
    overflow: hidden;
}

// about-4

.about-4-box1{
    background-color: $white;
    padding: 3%;
}

.diy-about-4-box{
    margin: 3% 0 3% 0;
}

// blog

.blog-bg{
    background-color: $yellow_light;
}

.diy-blog-carousel{
    margin: 3% 20% 3% 20%;
}

// blog-post

.blog-post{
    padding: 5%;
}

// blog p

.blog-1post p .blog-section p{
    margin: 1rem 0 1rem 0;

}

// blog a

.blog-1post a, .blog-section a{
    color: $gray;
    // ":hover" 滑鼠指向超連結會變色
    &:hover{
        color:$brown_dark2;
    }
    display: block;
}

.post-img-size{
    width: 90%;
}

.blog-section{
    padding: 1rem 0 1rem 0;
}

.blog-donate{
    padding: 2rem 0 2rem 0;
    margin: 1rem 0 1rem 0;
    // border: solid $orange_dark 1px;
    background-color: $purple_light;
}

.text-donate{
    font-size: $base_font_size*2;
    // margin-bottom: 1rem;
}

.donate-text{
    padding: 2rem;
}

.video{
    width: 700;
    height: auto;
}

.video-padding{
    padding: 0 5% 5% 5%;
}
// RWD setting

// @media (max-width: 576px) {

// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,

// }