/* @charset "utf-8" */

// FONT SETTING
$base_font_size: 10px;
$base_line_height: 1;
$base_letter_spacing: 1px;
$font-family: 'Montserrat', sans-serif;

// MAIN COLOR
$brown_light: #f0e6dc;
$brown_dark1: #e6cdb9;
$white: #ffffff;

$brown_dark2: #b4a091;
$gray: #606060;

// BASE SIZE
$base_line_width: 2px;

// mixin 使用時機：整包樣式都要一樣的時候，減少重複的行為
@mixin size($width,$height){
    width: $width;
    height: $height;
}

// BREAK WIDTH （未來 RWD 使用）
$break_large: 1024px;
$break_medium: 768px;
$break_small: 400px;


// all page css
*{
    font-family: $font-family
}
html,body{
    padding: 0px;
    margin: 0px;
    position: relative;
    font-size: 100%;
    font-weight: 200;
    line-height: $base_line_height*1.7;
    color: $gray;
}
a{
    text-decoration: none;
    color: $gray;
    // ":hover" 滑鼠指向超連結會變色
    &:hover{
        color:$white;
    }
}
img{
    max-width: 100%;
}

li{
    text-decoration: none;
    color: $gray;
    // ":hover" 滑鼠指向超連結會變色
    &:hover{
        color:$white;
    }
}

// navbar
.navbar{
    font-size: $base_font_size*2;
    padding: 2%;
}

.bg-light-opacity {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

// index image
.img-fluid-index-bg {
    display: flex;
    position: fixed;
    top: 0%;
    // z-index 是用來排 div 順序的，最底層-999，其他依序排列，類似 float，一定要搭配 position
    z-index: -1;
}

.index-bg{
    background-image:url(/images/index-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

// index blog link
.index-1{
    padding: 5%;
    background-color: $brown_light;
}

.text-index-1{
    margin-bottom: 5%;
}

$card-height: 100%;

.card{
    border-radius: 99em 99em 0 0 ;
    border: none;
    background-color: $brown_dark1;
}

.card-img-top{
    border-radius: 99em 99em 0 0 ;
}

.card-img-top:hover {
    display: flex;
    // display 只是為了 css 不要空著而放的，要記得刪掉
    // 缺 zoom in 效果
    // https://mdbootstrap.com/docs/standard/content-styles/hover-effects/
}

.card-text-center{
    text-align: center;
}

// index-2 reader's feedback

.diy-index-img{
    width: 30%;
    height: auto;
    overflow: hidden;
}

.diy-imdex-text {
    // padding: 10%;
}

.diy-imdex-text1 {
    font-size: $base_font_size*1.8;
    line-height: $base_line_height*4;
    margin: 10%;
}

// index-3 gallery

.index-3{
    background-color: $brown_dark1;
    padding: 5%;
    display: flex;
}

.index-3-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-3-gallery{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.index-gallery{
    padding: 0 5% 0 5%;
}
